.compose.col-md-6.col-xs-12
  .compose-header
    New Message
    %button.close.compose-close{:type => "button"}
      %span ×
  .compose-body
    #alerts
    .btn-toolbar.editor{"data-role" => "editor-toolbar", "data-target" => "#editor"}
      .btn-group
        %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :title => "Font"}
          %i.fa.fa-font
          %b.caret
        %ul.dropdown-menu
      .btn-group
        %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :title => "Font Size"}
          %i.fa.fa-text-height>
           
          %b.caret
        %ul.dropdown-menu
          %li
            %a{"data-edit" => "fontSize 5"}
              %p{:style => "font-size:17px"} Huge
          %li
            %a{"data-edit" => "fontSize 3"}
              %p{:style => "font-size:14px"} Normal
          %li
            %a{"data-edit" => "fontSize 1"}
              %p{:style => "font-size:11px"} Small
      .btn-group
        %a.btn{"data-edit" => "bold", :title => "Bold (Ctrl/Cmd+B)"}
          %i.fa.fa-bold
        %a.btn{"data-edit" => "italic", :title => "Italic (Ctrl/Cmd+I)"}
          %i.fa.fa-italic
        %a.btn{"data-edit" => "strikethrough", :title => "Strikethrough"}
          %i.fa.fa-strikethrough
        %a.btn{"data-edit" => "underline", :title => "Underline (Ctrl/Cmd+U)"}
          %i.fa.fa-underline
      .btn-group
        %a.btn{"data-edit" => "insertunorderedlist", :title => "Bullet list"}
          %i.fa.fa-list-ul
        %a.btn{"data-edit" => "insertorderedlist", :title => "Number list"}
          %i.fa.fa-list-ol
        %a.btn{"data-edit" => "outdent", :title => "Reduce indent (Shift+Tab)"}
          %i.fa.fa-dedent
        %a.btn{"data-edit" => "indent", :title => "Indent (Tab)"}
          %i.fa.fa-indent
      .btn-group
        %a.btn{"data-edit" => "justifyleft", :title => "Align Left (Ctrl/Cmd+L)"}
          %i.fa.fa-align-left
        %a.btn{"data-edit" => "justifycenter", :title => "Center (Ctrl/Cmd+E)"}
          %i.fa.fa-align-center
        %a.btn{"data-edit" => "justifyright", :title => "Align Right (Ctrl/Cmd+R)"}
          %i.fa.fa-align-right
        %a.btn{"data-edit" => "justifyfull", :title => "Justify (Ctrl/Cmd+J)"}
          %i.fa.fa-align-justify
      .btn-group
        %a.btn.dropdown-toggle{"data-toggle" => "dropdown", :title => "Hyperlink"}
          %i.fa.fa-link
        .dropdown-menu.input-append
          %input.span2{"data-edit" => "createLink", :placeholder => "URL", :type => "text"}/
          %button.btn{:type => "button"} Add
        %a.btn{"data-edit" => "unlink", :title => "Remove Hyperlink"}
          %i.fa.fa-cut
      .btn-group
        %a#pictureBtn.btn{:title => "Insert picture (or just drag & drop)"}
          %i.fa.fa-picture-o
        %input{"data-edit" => "insertImage", "data-role" => "magic-overlay", "data-target" => "#pictureBtn", :type => "file"}/
      .btn-group
        %a.btn{"data-edit" => "undo", :title => "Undo (Ctrl/Cmd+Z)"}
          %i.fa.fa-undo
        %a.btn{"data-edit" => "redo", :title => "Redo (Ctrl/Cmd+Y)"}
          %i.fa.fa-repeat
    #editor.editor-wrapper
  .compose-footer
    %button#send.btn.btn-sm.btn-success{:type => "button"} Send