!!!
%html
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  / Meta, title, CSS, favicons, etc.
  %meta{:charset => "utf-8"}/
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
  %head
    %title Rails5
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.nav-md
    .container.body
      .main_container
        = render partial: 'layouts/sidenav'
        = render partial: 'layouts/topnav'

        .right_col{role: "main"}
          = yield

        = render partial: 'layouts/footer'

    = render partial: 'layouts/compose'

    = javascript_pack_tag 'application'
    = stylesheet_pack_tag 'application'